{% extends "base.html" %}
{% block content %}
<h2 class="mb-3">Edit Anggota</h2>
<form method="POST" class="card shadow-sm p-4">
  <div class="mb-3">
    <label class="form-label">Nama</label>
    <input type="text" name="nama" value="{{ agt.nama }}" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Jabatan</label>
    <input type="text" name="jabatan" value="{{ agt.jabatan }}" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Angkatan</label>
    <input type="text" name="angkatan" value="{{ agt.angkatan }}" class="form-control" required>
  </div>
  <div class="d-flex gap-2">
    <button class="btn btn-warning text-dark">Update</button>
    <a href="/anggota" class="btn btn-outline-dark">Batal</a>
  </div>
</form>
{% endblock %}
