{% extends "base.html" %}
{% block content %}
<h2>Daftar Kegiatan</h2>
<a href="{{ url_for('tambah_kegiatan') }}" class="btn btn-primary mb-3">+ Tambah Kegiatan</a>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Nama Kegiatan</th>
            <th>Tanggal</th>
            <th>Deskripsi</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        {% for k in kegiatan %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ k.nama }}</td>
            <td>{{ k.tanggal }}</td>
            <td>{{ k.deskripsi }}</td>
            <td>
                <a href="{{ url_for('tampil_presensi', kegiatan_id=k.id) }}" class="btn btn-info btn-sm">Lihat Presensi</a>
<a href="{{ url_for('edit_kegiatan', id=k.id) }}">Edit</a> |
<form action="{{ url_for('hapus_kegiatan', id=k.id) }}" method="POST" style="display:inline;" 
      onsubmit="return confirm('Yakin mau hapus?')">
    <button type="submit" class="btn btn-link p-0" style="color:red;">Hapus</button>
</form>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}




